<section style="height: 95vh;
    background-image: url('https://cdn.24.co.za/files/Cms/General/d/3279/08bfea573d53401c876cfc734b099cdc.jpg');
    background-repeat: no-repeat;background-size:cover;">
    {{!-- <div class="row">
        <div class="col-sm-4 offset-sm-7" style="margin-top: 10%;">
            <form action="" method="post" name="loginform">
                <input type="text" class="form-control" placeholder="Start place" name="start">

                <input type="text" class="form-control mt-4" placeholder="Your Destination" name="des">

                <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary">Search FLIGHT</button></a>

                </div>
            </form>
        </div>
    </div> --}}
</section>

<h1 style="text-align: center;font-family:Gabriola;font-size:60px;position: absolute;
  top: 80px;
  left: 400px;color:white;">The Sky Is Waiting For You..</h1>
<p style="text-align:left;position: absolute;
  top: 150px;
  left: 15px;color:white;font-size:20px;text-align:center">EaseMyFlight is a free travel booking website template which is carefully crafted for the travel agency and tour management company.</p>
<button class="btn" style="position: absolute;
  top: 200px;right:
  47%;color:white;border:2px solid white;">Read More</button>
{{!-- <footer>
    <!-- place footer here -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eius excepturi, nisi, dolorum odit
                    dolore quas minima.</p>
            </div>

            <div class="col-sm-4">
                <h4>Links</h4>
                <ul style="list-style-type: none;">
                    <li>
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Login</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h4>Contact</h4>
                <p>Phone:
                    <a class="nav-link" href="tel:+919658745855">+919658745855</a>
                </p>
            </div>
        </div>
    </div>
</footer> --}}