<img src="https://www.schengenvisainfo.com/news/wp-content/uploads/2021/12/airplane.jpg" width="100%" height="100%">


<div class="container" style="position: absolute;left:-20%;top:15%">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1 class="text-center">Register</h1>
            <form method="post">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Your Full Name" style="height: 8vh;border-radius:12px;border-color:rgb(22, 73, 112);">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Your Email"style="height: 8vh;border-radius:12px;border-color:rgb(22, 73, 112);">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control"style="height: 8vh;border-radius:12px;border-color:rgb(22, 73, 112);">
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"style="height: 8vh;border-radius:12px;border-color:rgb(22, 73, 112);">
                </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn" style="background-color: rgba(0, 175, 82, 0.679);">Save</button>
                    {{#if message}}
                        <p class="text-danger">{{message}}</p>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>