<div class="container">
    <h1 class="text-center">Flight Schedule</h1>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="fnumber">Flight Number</label>
                    <input type="text" name="fnumber" id="fnumber" class="form-control">
                </div>
                <div>
                    <label for="source">Source</label>
                    <input type="text" name="source" id="source" class="form-control">
                </div>
                <div>
                    <label for="destination">Destination</label>
                    <input type="text" name="destination" id="destination" class="form-control">
                </div>
                <div>
                    <label for="date">Date</label>
                    <input type="date" name="date" id="date" class="form-control">
                </div>
                <div>
                    <label for="time">Time</label>
                    <input type="time" name="time" id="time" class="form-control">
                </div>

                <div class="d-grid mt-4">
                    <button class="btn btn-secondary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>